.direction-rtl {
  direction: rtl !important;
}

.direction-ltr {
  direction: ltr !important;
}

.txtDatePicker {
  display: inline-block;
  border: 1px solid #ddd;
  font-size: 15px;
  padding: 4px 10px;
  border-radius: 5px;
  color: #555;

  :focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  }
}

.date-picker-container {
  overflow: hidden;
  font-size: 13px;
  width: 265px;
  display: block;  border-radius: 5px;
  min-height: 230px;
  box-shadow: 0 3px 25px rgba(0, 0, 0, .5);
  font-family: Tahoma;
  position: absolute;
  z-index: 99999999;


  /*** Common ***/
  .display-inb {
    display: inline-block;
  }

  .ta-left {
    text-align: left;
    float: left;
  }

  .ta-center {
    text-align: center;
  }

  .ta-right {
    text-align: right;
    float: right;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  .date-picker-header {
    color: #5C6063;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #F3F3F3;

    .top {
      padding: 3px 0 20px 0;
    }

    .btn-prev-month {
      cursor: pointer;
    }

    .year {
      text-align: center;
      font-size: 18px;
      color: #bbb;
    }

    .month {
      color: #bbb;
    }

    .btn-next-month {
      cursor: pointer;
    }

    .input-year {
      float: left !important;
      width: 40px !important;
      text-align: left;
      color: #555;
      font-size: 16px;
      height: 20px !important;
      border: 1px solid #eee !important;
      border-radius: 3px;
      margin-right: 4px !important;
      padding:0 !important;

      :focus {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      }
    }

  }

  .date-picker-body {
    padding: 9px;
    background-color: #ffffff;
    width: 100%;

    .weekday {
      font-size: 12px;
      color: #475059;
    }

    .week-days-row {
      .cell {
        text-align: center;
        padding: 7px 8px;
        border: 1px solid transparent;
        border-radius: 50%;
        cursor: pointer;
        color: #656A70;

        &:hover {
          transition: 0.4s;
          background-color: #F3F3F3;
        }
      }

      .today {
        background-color: #D45A21;
        color: #fff !important;
      }
    }

    .selected {
      border: 1px solid #FCADAF !important;
    }

    .inActive {
      color: #D0CFCD !important;
    }

    .holiday {
      color: #f00 !important;
    }

    .inactive-holiday {
      color: #FCADAF !important;
    }

  }

  .date-picker-footer {
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #F3F3F3;

    .btn-today {
      display: inline-block;
      background-color: #D45A21;
      color: #fff;
      padding: 5px 10px;
      border-radius: 3px;
      cursor: pointer;
      margin: 10px;
    }
  }

}